html{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgba(248, 221, 239, 0.856);
}
#container-1{
    width:300px;
    height: 730px;
    float:left;
}
#container-2{
    width:900px;
    height: 730px;
    float:left;
}
.picture1{
    background-image: url('4picture1.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    width:200px;
    height:100px;
    margin-top: 200px;
    margin-left: 0px;
}
.top_red_line{
    background-color: rgb(140, 9, 14);
    width:900px;
    overflow: auto;
    margin-top:150px;
}
.picture2{
    background-image: url('4picture2.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    width:200px;
    height:50px;
    margin-left: 0px;
    margin-top:0px;
    float:left;
}
ul{
    color: rgb(244, 198, 100);
    font-size: 10px;
    font-weight: 800;
    box-sizing: border-box;
    text-transform:uppercase;
    float: left;
    margin-top: 25px;
}
li{
    display: inline;
    padding-left: 10px;
}
.picture3{
    background-image: url('4picture3.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    float:left;
    width:80px;
    height: 30px;
    margin-top: 15px;
    margin-left: 80px;
}
.bottom_red_line{
    background-color: rgb(140, 9, 14);
    width: 900px;
    overflow: auto;
}
a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    background-color: rgb(245, 205, 120);
    width:150px;
    padding: 8px;
    text-align: center;
    display: inline-block;
    margin-left: 380px;
    margin-top: 80px;
}
.picture4{
    background-image: url('4picture4.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    position:relative;
    width:900px;
    height: 251px;
}
.picture5{
    background-image: url('4picture5.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    width:900px;
    height:226px;
    overflow: auto;
}
p{
    font-size: 10px;
    color: black;
    line-height: 16px;
    float: left;
    width: 160px;
    padding-right: 10px;
}
.column{
    width:150px;
    height: 210px;
    float:left;
    margin-left: 50px;
}
.bold{
    font-weight: 900;
    height: 60px;
}
.normal{
    font-weight: 300;
}
.bottom{
    color: rgb(244, 198, 100);
    font-size: 10px;
    font-weight: 800;
    line-height: 20px;
    float: left;
    margin-left: 47px;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 40px;
    width:155px;
}
.picture6{
    background-image: url('4picture6.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    float: left;
    width:70px;
    height:30px;
    margin-top: 10px;
}