html{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgba(248, 221, 239, 0.856);
}
.picture1{
    background-image: url('4picture1.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    width:250px;
    height:120px;
    margin-top: 200px;
}
.picture2{
    background-image: url('4picture2.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    width:1000px;
    height:700px;
    position:relative;
    margin-left: 400px;
    margin-top:-150px;
}
div{
    font-size: 10px;
    text-transform: uppercase;
    color:goldenrod;
    position:relative;
}
#item_1{
    margin-top: -670px;
    margin-left: 700px;
}
#item_2{
    margin-top: -12px;
    margin-left: 780px;
}
#item_3{
    margin-top: -11px;
    margin-left: 860px;
}
#item_4{
    margin-top: -11px;
    margin-left: 950px;
}
#item_5{
    margin-top: -11px;
    margin-left: 1100px;
}
#item_6{
    margin-top: -11px;
    margin-left: 1170px;
}
#item_7{
    text-transform:none;
    margin-top: 570px;
    margin-left: 470px;
}
#item_8{
    text-transform:none;
    margin-top: -22px;
    margin-left: 700px;
    width: 110px;
}
#item_9{
    text-transform:none;
    margin-top: -22px;
    margin-left: 950px;
    width: 110px;
}
#item_10{
    text-transform:none;
    margin-top: -22px;
    margin-left: 1140px;
    width: 110px;
}
p{
    font-size: 10px;
    color: black;
    width: 180px;
    line-height: 16px;
}
#bold_1{
    font-weight: 900;
    position:absolute;
    margin-top:-260px;
    margin-left: 470px;
}
#bold_2{
    font-weight: 900;
    position:absolute;
    margin-top:-260px;
    margin-left: 700px;
}
#bold_3{
    font-weight: 900;
    position:absolute;
    margin-top:-260px;
    margin-left: 930px;
    width:150px;
}
#bold_4{
    font-weight: 900;
    position:absolute;
    margin-top:-260px;
    margin-left: 1140px;
}
#normal_1{
    font-weight: 400;
    position:absolute;
    margin-top:-160px;
    margin-left: 470px;
}
#normal_2{
    font-weight: 400;
    position:absolute;
    margin-top:-160px;
    margin-left: 700px;
}
#normal_3{
    font-weight: 400;
    position:absolute;
    margin-top:-160px;
    margin-left: 930px;
}
#normal_4{
    font-weight: 400;
    position:absolute;
    margin-top:-160px;
    margin-left: 1140px;
}
.button{
    background-color: goldenrod;
    color:black;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px 10px 10px;
    position:absolute;
    margin-top: -470px;
    margin-left: 800px;
    width:170px;
    border-radius: 5px;
}